/* TODO Стили для отдельных дел */

.deals__item {
  padding: 12px 20px;
  background: white;
  border-radius: 5px;
  margin: 10px 10px;
  display: flex;
}
.deals__content {
  flex: 1;
}
.deals__text {
  font-size: 18px;
  font-weight: lighter;
}

.deals__status {
  color: red;
}

.deals__title {
  color: var(--orange);
}
