@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400&display=swap');

:root{
  --orange: rgb(255, 107, 0);
  --green: rgb(52, 201, 36);
  --gray: #999;
  --body-bg: rgb(240, 240, 240);
}

body {
  background: var(--body-bg);
  font-family: "Rubik", sans-serif;
  font-size: 14px;
}

.btn {
  padding: 10px 20px;
  color: var(--orange);
  background: white;
  border: solid 2px var(--orange);
  cursor: pointer;
  border-radius: 5px;
  display: inline-block;
  user-select: none;
  text-align: center;
  transition-duration: .2s;
}

.btn:active,
.btn:hover { background: var(--orange); color: white; }

.m20 { margin: 20px 0; }

body { padding: 10px; }

.block { display: block; }

.bold { font-weight: bold }

/* TODO Написать стили для полей ввода */
.input {
  padding: 12px 15px;
  border: none;
  border-radius: 5px;
  outline: none;
  box-shadow: 0 0 10px #eee;
  width: 100%;
  box-sizing: border-box;
  font-size: 14px;
}

.header {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
